#Old dependances
'''
django
gunicorn
numpy
pandasplotly
xlsxwriter
whitenoise
'''

#Latest dependances as of 10/16/2025
#requirements.txt
certifi==2025.10.5 #tr'ansitive dependency of requests
charset_normalizer==3.4.4 #transitive dependency of requests
idna==3.11 #transitive dependency of requests
numpy==2.3.4 #transitive dependency of pandas
pandas==2.3.3
python-dateutil==2.9.0.post0 #transitive dependency of pandas
pytz==2025.2 #transitive dependency of pandas
requests==2.32.5
six==1.17.0 #transitive dependency of pandas
tzdata==1.17.0 #transitive dependency of pandas
urllib3==2.5.0 #transitive dependency of requests

#The following cannot be in a requirements file.
#python==3.11
#pip==25.2