<!DOCTYPE html>
<html style="height: 100%;">
<head>
  <title>Interactive Map</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/maptabs.css' %}">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="{% static 'css/Heading.css' %}">
</head>
{% include "HTML/navbar.html" %}
<body>
<div class="tab-container">
<main>

  <!-- Tabs (one per location) -->
  <input id="tab1" type="radio" name="tabs" checked>
  <label for="tab1">Hazen</label>

  <input id="tab2" type="radio" name="tabs">
  <label for="tab2">Stanton</label>

  <input id="tab3" type="radio" name="tabs">
  <label for="tab3">Washburn</label>

  <input id="tab4" type="radio" name="tabs">
  <label for="tab4">Price</label>

  <input id="tab5" type="radio" name="tabs">
  <label for="tab5">Bismarck</label>

  <input id="tab6" type="radio" name="tabs">
  <label for="tab6">Schmidt</label>

  <input id="tab7" type="radio" name="tabs">
  <label for="tab7">Judson</label>

  <input id="tab8" type="radio" name="tabs">
  <label for="tab8">Mandan</label>

  <input id="tab9" type="radio" name="tabs">
  <label for="tab9">Breien</label>

  <input id="tab10" type="radio" name="tabs">
  <label for="tab10">Wakpala</label>

  <input id="tab11" type="radio" name="tabs">
  <label for="tab11">Little Eagle</label>

  <input id="tab12" type="radio" name="tabs">
  <label for="tab12">Cash</label>

  <input id="tab13" type="radio" name="tabs">
  <label for="tab13">Whitehorse</label>


  <!-- Hazen -->
  <section id="content1">
    <form action="/customgaugegraph/" method="POST">
      {% csrf_token %}
      <h3>Hazen, ND</h3>
      <select required name="data2see">
        <option value="" disabled selected>Choose Data Point</option>
        <option value="Gauge Height">Gauge Height</option>
        <option value="Elevation">Elevation</option>
        <option value="Discharge">Discharge</option>
        <option value="Water Temperature">Water Temperature</option>
      </select>
      <br><br>
      <h6>Enter Start and End Dates</h6>
      <input type="date" name="start-date" required>
      <input type="date" name="end-date" required>
      <input type="hidden" name="location" value="Hazen ND">
      <br><br>
      <button type="submit">Submit</button>
      <button type="button">Current Data</button>
    </form>
  </section>

  <!-- Stanton -->
  <section id="content2">
    <form action="/customgaugegraph/" method="POST">
      {% csrf_token %}
      <h3>Stanton, ND</h3>
      <select required name="data2see">
        <option value="" disabled selected>Choose Data Point</option>
        <option value="Gauge Height">Gauge Height</option>
        <option value="Elevation">Elevation</option>
        <option value="Discharge">Discharge</option>
        <option value="Water Temperature">Water Temperature</option>
      </select>
      <br><br>
      <h6>Enter Start and End Dates</h6>
      <input type="date" name="start-date" required>
      <input type="date" name="end-date" required>
      <input type="hidden" name="location" value="Stanton ND">
      <br><br>
      <button type="submit">Submit</button>
      <button type="button">Current Data</button>
    </form>
  </section>

  <!-- Washburn -->
  <section id="content3">
    <form action="/customgaugegraph/" method="POST">
      {% csrf_token %}
      <h3>Washburn, ND</h3>
      <select required name="data2see">
        <option value="" disabled selected>Choose Data Point</option>
        <option value="Gauge Height">Gauge Height</option>
        <option value="Elevation">Elevation</option>
        <option value="Discharge">Discharge</option>
        <option value="Water Temperature">Water Temperature</option>
      </select>
      <br><br>
      <h6>Enter Start and End Dates</h6>
      <input type="date" name="start-date" required>
      <input type="date" name="end-date" required>
      <input type="hidden" name="location" value="Washburn ND">
      <br><br>
      <button type="submit">Submit</button>
      <button type="button">Current Data</button>
    </form>
  </section>

  <!-- Price -->
  <section id="content4">
    <form action="/customgaugegraph/" method="POST">
      {% csrf_token %}
      <h3>Price, ND</h3>
      <select required name="data2see">
        <option value="" disabled selected>Choose Data Point</option>
        <option value="Gauge Height">Gauge Height</option>
        <option value="Elevation">Elevation</option>
        <option value="Discharge">Discharge</option>
        <option value="Water Temperature">Water Temperature</option>
      </select>
      <br><br>
      <h6>Enter Start and End Dates</h6>
      <input type="date" name="start-date" required>
      <input type="date" name="end-date" required>
      <input type="hidden" name="location" value="Price ND">
      <br><br>
      <button type="submit">Submit</button>
      <button type="button">Current Data</button>
    </form>
  </section>

  <!-- Bismarck -->
  <section id="content5">
    <form action="/customgaugegraph/" method="POST">
      {% csrf_token %}
      <h3>Bismarck, ND</h3>
      <select required name="data2see">
        <option value="" disabled selected>Choose Data Point</option>
        <option value="Gauge Height">Gauge Height</option>
        <option value="Elevation">Elevation</option>
        <option value="Discharge">Discharge</option>
        <option value="Water Temperature">Water Temperature</option>
      </select>
      <br><br>
      <h6>Enter Start and End Dates</h6>
      <input type="date" name="start-date" required>
      <input type="date" name="end-date" required>
      <input type="hidden" name="location" value="Bismarck ND">
      <br><br>
      <button type="submit">Submit</button>
      <button type="button">Current Data</button>
    </form>
  </section>

  <!-- Schmidt -->
  <section id="content6">
    <form action="/customgaugegraph/" method="POST">
      {% csrf_token %}
      <h3>Schmidt, ND</h3>
      <select required name="data2see">
        <option value="" disabled selected>Choose Data Point</option>
        <option value="Gauge Height">Gauge Height</option>
        <option value="Elevation">Elevation</option>
        <option value="Discharge">Discharge</option>
        <option value="Water Temperature">Water Temperature</option>
      </select>
      <br><br>
      <h6>Enter Start and End Dates</h6>
      <input type="date" name="start-date" required>
      <input type="date" name="end-date" required>
      <input type="hidden" name="location" value="Schmidt ND">
      <br><br>
      <button type="submit">Submit</button>
      <button type="button">Current Data</button>
    </form>
  </section>

  <!-- Judson -->
  <section id="content7">
    <form action="/customgaugegraph/" method="POST">
      {% csrf_token %}
      <h3>Judson, ND</h3>
      <select required name="data2see">
        <option value="" disabled selected>Choose Data Point</option>
        <option value="Gauge Height">Gauge Height</option>
        <option value="Elevation">Elevation</option>
        <option value="Discharge">Discharge</option>
        <option value="Water Temperature">Water Temperature</option>
      </select>
      <br><br>
      <h6>Enter Start and End Dates</h6>
      <input type="date" name="start-date" required>
      <input type="date" name="end-date" required>
      <input type="hidden" name="location" value="Judson ND">
      <br><br>
      <button type="submit">Submit</button>
      <button type="button">Current Data</button>
    </form>
  </section>

  <!-- Mandan -->
  <section id="content8">
    <form action="/customgaugegraph/" method="POST">
      {% csrf_token %}
      <h3>Mandan, ND</h3>
      <select required name="data2see">
        <option value="" disabled selected>Choose Data Point</option>
        <option value="Gauge Height">Gauge Height</option>
        <option value="Elevation">Elevation</option>
        <option value="Discharge">Discharge</option>
        <option value="Water Temperature">Water Temperature</option>
      </select>
      <br><br>
      <h6>Enter Start and End Dates</h6>
      <input type="date" name="start-date" required>
      <input type="date" name="end-date" required>
      <input type="hidden" name="location" value="Mandan ND">
      <br><br>
      <button type="submit">Submit</button>
      <button type="button">Current Data</button>
    </form>
  </section>

  <!-- Breien -->
  <section id="content9">
    <form action="/customgaugegraph/" method="POST">
      {% csrf_token %}
      <h3>Breien, ND</h3>
      <select required name="data2see">
        <option value="" disabled selected>Choose Data Point</option>
        <option value="Gauge Height">Gauge Height</option>
        <option value="Elevation">Elevation</option>
        <option value="Discharge">Discharge</option>
        <option value="Water Temperature">Water Temperature</option>
      </select>
      <br><br>
      <h6>Enter Start and End Dates</h6>
      <input type="date" name="start-date" required>
      <input type="date" name="end-date" required>
      <input type="hidden" name="location" value="Breien ND">
      <br><br>
      <button type="submit">Submit</button>
      <button type="button">Current Data</button>
    </form>
  </section>

  <!-- Wakpala -->
  <section id="content10">
    <form action="/customgaugegraph/" method="POST">
      {% csrf_token %}
      <h3>Wakpala, SD</h3>
      <select required name="data2see">
        <option value="" disabled selected>Choose Data Point</option>
        <option value="Gauge Height">Gauge Height</option>
        <option value="Elevation">Elevation</option>
        <option value="Discharge">Discharge</option>
        <option value="Water Temperature">Water Temperature</option>
      </select>
      <br><br>
      <h6>Enter Start and End Dates</h6>
      <input type="date" name="start-date" required>
      <input type="date" name="end-date" required>
      <input type="hidden" name="location" value="Wakpala SD">
      <br><br>
      <button type="submit">Submit</button>
      <button type="button">Current Data</button>
    </form>
  </section>

  <!-- Little Eagle -->
  <section id="content11">
    <form action="/customgaugegraph/" method="POST">
      {% csrf_token %}
      <h3>Little Eagle, SD</h3>
      <select required name="data2see">
        <option value="" disabled selected>Choose Data Point</option>
        <option value="Gauge Height">Gauge Height</option>
        <option value="Elevation">Elevation</option>
        <option value="Discharge">Discharge</option>
        <option value="Water Temperature">Water Temperature</option>
      </select>
      <br><br>
      <h6>Enter Start and End Dates</h6>
      <input type="date" name="start-date" required>
      <input type="date" name="end-date" required>
      <input type="hidden" name="location" value="Little Eagle SD">
      <br><br>
      <button type="submit">Submit</button>
      <button type="button">Current Data</button>
    </form>
  </section>

  <!-- Cash -->
  <section id="content12">
    <form action="/customgaugegraph/" method="POST">
      {% csrf_token %}
      <h3>Cash, SD</h3>
      <select required name="data2see">
        <option value="" disabled selected>Choose Data Point</option>
        <option value="Gauge Height">Gauge Height</option>
        <option value="Elevation">Elevation</option>
        <option value="Discharge">Discharge</option>
        <option value="Water Temperature">Water Temperature</option>
      </select>
      <br><br>
      <h6>Enter Start and End Dates</h6>
      <input type="date" name="start-date" required>
      <input type="date" name="end-date" required>
      <input type="hidden" name="location" value="Cash SD">
      <br><br>
      <button type="submit">Submit</button>
      <button type="button">Current Data</button>
    </form>
  </section>

  <!-- Whitehorse -->
  <section id="content13">
    <form action="/customgaugegraph/" method="POST">
      {% csrf_token %}
      <h3>Whitehorse, SD</h3>
      <select required name="data2see">
        <option value="" disabled selected>Choose Data Point</option>
        <option value="Gauge Height">Gauge Height</option>
        <option value="Elevation">Elevation</option>
        <option value="Discharge">Discharge</option>
        <option value="Water Temperature">Water Temperature</option>
      </select>
      <br><br>
      <h6>Enter Start and End Dates</h6>
      <input type="date" name="start-date" required>
      <input type="date" name="end-date" required>
      <input type="hidden" name="location" value="Whitehorse SD">
      <br><br>
      <button type="submit">Submit</button>
      <button type="button">Current Data</button>
    </form>
  </section>

</main>
</div>
</body>
</html>

