body {
  margin: 0;
  padding: 0;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

@media (max-width: 768px) {
  #map {
    position: relative !important;
    width: 100% !important;
    height: 60vh !important;
    top: 0 !important;
    left: 0 !important;
  }
  
  .modal {
    position: fixed !important;
    top: 10vh !important;
    left: 5% !important;
    width: 90% !important;
    max-height: 80vh !important;
  }
  
  #map-legend {
    bottom: 5% !important;
    right: 5% !important;
    font-size: 12px;
  }
  
  #map-legend li {
    font-size: 14px;
  }
}

.modal {
  position: fixed;
  top: 15vh; /* Position modal 15% from the top */
  left: 500px; /* Align modal with the left side of the screen */
  z-index: 9999;
  display: none;
  width: 40%; /* Set modal width to 40% of the page */
  overflow-y: auto; /* Enable vertical scrolling if content exceeds modal height */
  padding: 20px;
  background-color: #fefefe;
  border: 1px solid #888;
}

.modal-content {
  width: 100%;
  max-width: 95%; /* Set maximum width for content within modal */
  margin: 0 auto; /* Center content horizontally */
}

.close {
  position: absolute;
  top: 20px;
  right: 10px;
  font-size: 20px;
  font-weight: bold;
  color: #aaa;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.plotly-graph-div {
  width: 90%; /* Set width of graphs to 100% of their container */
  height: 300px !important;
  /* Additional styles for graphs if needed */
}

#map-legend {
  position: absolute;
  bottom: 10%;
  right: 3%;
  width: 100px;
  height: 150px;
  z-index: 1;
  background-color: #ffff;
  padding: 10px;
  border: 2px solid rgba(22, 76, 167, 0.6);
  border-radius: 4px;
  z-index: 100;
}

#map-legend h4 {
  margin-top: 0;
}

#map-legend ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#map-legend li {
  margin-bottom: 8px;
  font-size: 18px;
}

.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 5px;
}
